.tab-card {
    display: block;
    width: 100%;
    padding: 20px;
    background:#FFC107;
    color: #1e1e1e;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .tab-title {
    text-transform: uppercase;
  }