<h3>Spec</h3>
<div class="edit-table-menu">
  <span (click)="addSpec()" class="btn add-tab" title="Add Row" *ngIf="showEditTable">➕ Row</span>
  <span (click)="addColumn()" class="btn add-tab" title="Add Column" *ngIf="showEditTable">➕ Column</span>
  <button class="btn nav-link" (click)="toggleEditTable()">Edit Table</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        {{ column }}
        <button class="btn btn-primary no-bg-border btn-sm" *ngIf="showEditTable" (click)="editColumn(column)">✏️</button>
        <button class="btn btn-danger no-bg-border btn-sm" *ngIf="showEditTable" (click)="deleteColumn(column)">❌</button>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let spec of specs; let index = index">
      <td *ngFor="let column of columns">
        <input [(ngModel)]="spec[column]" (ngModelChange)="editSpec(spec, column, $event)" />
      </td>
      <td>
        <button class="btn btn-danger no-bg-border btn-sm" *ngIf="showEditTable" (click)="deleteSpec(spec)">❌</button>
      </td>
    </tr>
  </tbody>
</table>
