<mat-toolbar *ngIf="!isRouteActive('/hero')" color="primary" class="app-toolbar">
    <img src="assets/logo-2.png" alt="Casey Equipment" class="app-logo">
    <span>Casey Equipment App</span>
    <span class="spacer"></span>
    

    
 
</mat-toolbar>

<div class="sidebar-container"  >
    <!-- Sidebar -->
    <div class="custom-sidenav" *ngIf="authService.getRole() === 'admin' || authService.getRole() === 'editor'" [ngClass]="{'collapsed': !isSidebarOpen}">
      
      <!-- Sidebar Links -->
      <div class="sidebar-links">
        <a routerLink="/admin" *ngIf="authService.getRole() === 'admin'" class="sidebar-item">
          <i class="fas fa-user-shield sidebar-icon"></i> 
          <span class="sidebar-text" *ngIf="isSidebarOpen">Users</span>
        </a>
        <a routerLink="/contact" *ngIf="authService.getRole() === 'admin' || authService.getRole() === 'editor'" class="sidebar-item">
            <i class="fas fa-address-book sidebar-icon"></i> 
            <span class="sidebar-text" *ngIf="isSidebarOpen">Contact Management</span>
          </a>
        <a routerLink="/tabs" *ngIf="authService.getRole() === 'admin' || authService.getRole() === 'editor'" class="sidebar-item">
            <i class="fas fa-list sidebar-icon"></i> 
            <span class="sidebar-text" *ngIf="isSidebarOpen">Spec Sheets</span>
        </a>
        <a href="" class="sidebar-item" (click)="authService.logout()">
            <i class="fas sidebar-icon fa-sign-out-alt"></i>  <span class="sidebar-text" *ngIf="isSidebarOpen">Logout</span>
          </a>
  

      </div>
            <!-- Sidebar Toggle Button -->
            <button class="sidebar-toggle" (click)="toggleSidebar()">
                <i class="fas" [ngClass]="{'fa-angle-double-left': isSidebarOpen, 'fa-angle-double-right': !isSidebarOpen}"></i>
              </button>
      </div>
   
 <!-- Main Content -->
 <div class="content">
    <router-outlet></router-outlet>
  </div>
   
</div>
