<!-- filepath: src/app/components/tabs/tabs.component.html -->
<div class="container-fluid h-100 d-flex flex-column">
  <div class="tabs flex-grow-1">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link" [class.active]="tab === selectedTab" (click)="selectTab(tab)">
          {{ tab.title }}
          <div *ngIf="showEditMenu && !tab.isContact" class="tab-buttons">
            <button class="btn btn-sm btn-primary" (click)="editTab(tab)" title="Edit Tab">✏️</button>
            <button class="btn btn-sm btn-danger no-bg-border" (click)="deleteTab(tab)" title="Delete Tab">❌</button>
          </div>
        </a>
      </li>
      <li class="nav-item edit-menu">

        <span (click)="addTab()" class="btn add-tab" title="Add Tab" *ngIf="showEditMenu" >➕ Tab</span>
        <span class="btn nav-link" (click)="toggleEditMenu()">Edit Tabs</span>
       
      </li>
    </ul>
    <div class="tab-content flex-grow-1" id="myTabContent">
      <div class="tab-pane fade show active h-100" *ngIf="selectedTab">
        <app-spec-sheet-table></app-spec-sheet-table>
      </div>
    </div>
  </div>
</div>