<div class="container">
    <h3 class="text-center">📄 Spec Sheets</h3>
    
    <div class="list-group">
      <button *ngFor="let tab of tabs$ | async"
              class="list-group-item list-group-item-action"
              (click)="loadSpecSheet(tab.id)">
        {{ tab.name }}
      </button>
    </div>
  
    <div *ngIf="specSheet">
      <h4 class="mt-4">{{ specSheet.name }}</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let column of specSheet.columns">{{ column.headerName }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of specSheet.rows">
            <td *ngFor="let column of specSheet.columns">{{ row[column.field] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>